<h2>Faça seu login!</h2>
 
<br>
<br>
<div class="sizes">
<form class="forms" (submit) ="loginUser($event)">
    <div class="input">
        <label for="">email</label>
        <input type="email" required>
    </div>
<br>
    <div class="input">
            <label for="">password</label>
            <input type="password">
        </div>
<br>
        <div class="input2">
                <label for=""></label>
                <input class="inputbtn" type="submit" value="Login">
            </div>

</form>
</div>